body {
  font-size: 23px;
  background-color: salmon;
}

h1 {
  color: darkred;
  text-align: center;
}

h2 {
  text-align: center;
  font-style: italic;
  color: red;
}

h3 {
  color: green;
}

p {
  color: grey;
}
